CLANG_ANALYZER_NUMBER_OBJECT_CONVERSION = YES_AGGRESSIVE
CLANG_CXX_LANGUAGE_STANDARD = gnu++14
CLANG_WARN_UNGUARDED_AVAILABILITY = YES_AGGRESSIVE
CODE_SIGN_STYLE = Automatic
COMBINE_HIDPI_IMAGES = YES
DEAD_CODE_STRIPPING = YES
DEVELOPMENT_TEAM = MN3X4648SC
GCC_C_LANGUAGE_STANDARD = gnu11
INFOPLIST_FILE = MaccyUITests/Info.plist
LD_RUNPATH_SEARCH_PATHS = $(inherited) @executable_path/../Frameworks @loader_path/../Frameworks
MACOSX_DEPLOYMENT_TARGET = 14.0
PRODUCT_BUNDLE_IDENTIFIER = org.p0deje.MaccyUITests
PRODUCT_NAME = $(TARGET_NAME)
PROVISIONING_PROFILE_SPECIFIER =
SWIFT_STRICT_CONCURRENCY = complete
SWIFT_VERSION = 6.0
TEST_TARGET_NAME = Maccy
